*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.first-section{
    background-color: #e4e4ef;
    padding-bottom: 30px;
    border-bottom: solid pink 10px;
}
.section-1{
    background-color: #201e45;
    color: white;
}
.section-1 h1{
    margin-left: 30px;
    padding-top: 10px;
}
.nav{
    display: flex;
    text-align: center;
    gap: 30px;
    flex-direction: column;
    padding-bottom: 24px;
    border-bottom: solid pink 10px;
}
.nav ul{
    text-align: center;
    flex-direction: row;
    margin-left: 50%;
}
.nav ul li{
    list-style: none;
    display: inline-block;
}
.nav ul li a{
    padding: 10px;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: #fE594E;
}

.me img{
    border-radius: 100%;
    height: 80vh;
    margin-left: 80px;
    margin-top: 30px;
}
.me{
    display: flex;
}
.belowimg{
    margin-left: 120px;
    margin-top: 50px;
    text-align: center;
}
.name{
    color: blue;
    font-size: larger;
    font-weight: bolder;
}
.education{
    margin-top: 50px;
    margin-left: 60px;
    text-align: center; 
} 
.education h2{
    padding: 10px;
}
.education h4{
    padding: 10px;
}
.education p{
    padding: 10px;
}
.my-education{
    margin-top: 150px;
}
.second-section{
    background-color: #404267;
    color: white;
    text-align: center;
}
.dark-blue{
    display: flex;
    justify-content: space-evenly;
}
.second-section-1 img{
    border-radius: 2%;
    margin-top: 150px;
}
.second-section h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}
.second-section-1{
    text-align: start;
}
.para{
    padding: 10px;
    font-size: 20px;
    color: pink;
}
.second-section ol li{
    padding: 5px;
}  
.second-section ol li a{
    color: white;
    text-decoration: none;
}
.fun{
    background-color: pink;
    display: flex;
    justify-content: space-around;
}
.second-section-2{
    text-align: center;
}
.second-section-2 h2{
    padding: 20px;
}
.second-section-2 p{
    padding: 5px;
}
.third-section{
    background-color: #e4e4ef;
    text-align: center;

}
.third-section h2{
    padding: 20px;
}
.cats{
    display: flex;
    justify-content: space-around;
}
.image-1{
    text-align: center;
}
.image-1 p{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 30px;
}
.cats img{
    height: 130px;
    border-radius: 5%;
}
.forth-section{
    text-align: center;
    border-top:  solid 1px #201e45;
}
.forth-section img{
    height: 3vh;
}
.forth-section h3{
    padding: 20px;
}
.forth-section p{
    padding: 10px;
}
.icons ul li a{
    text-decoration: none;
}
.icons ul li{
    list-style: none;
}
.last-part{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #201e45;
    color: white;
    border-top: solid pink 10px;
}


